.siteheader {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
}
.primarynav {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    background-color: var(--primary);
}
.footernav  {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    background-color: var(--primary);
}
.heading1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
}
.heading2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}
.heading3 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.paragraphtext {
    font-family: 'Cabin', sans-serif;
    font-size: 1.2rem;
}
table th, td{
    border: 1px solid black;
  }
th {
    font-size: 1.5rem;
    background-color: lightgrey;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
} 
body {
    width: 50%;
    margin: auto;
    text-align: center;
}