@media only screen and (min-width: 70em) {
    .navbar-links ul{
        width: 50%;
    }
    .contact-content {
        display: flex;
        justify-content: space-between;
    }
    .contact-box {
        display: block;
    }
    .board-list {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
    }
    .contact-fieldset {
        width: 90%;
    }
    .directory {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        gap: 40px;
        align-items: center;
    }
    /*glendale hero */
    
    /*glendale history */
    .history-content {
        margin: 20px auto 60px;
    }
    .history-pic {
        margin: auto 0px auto 50px;
    }
    .event-overlay {
        position: absolute;
        top: 40px;
        right: 40px;
        background-color: rgba(0,0,0,0.7);
    }
    /*glendale join overlay */
    .welcome {
        top: -10px;
        left: -800px;
        font-size: 3rem;
        font-weight: bold;
    }
    .join {
        top: 400px;
        bottom: 30px;
        right: 550px;
        left: 30px;
    }
    .join-button {
        font-size: 1.1rem;
    }
    .home {
        display: flex;
        justify-content: space-around;
    }
    .social {
        margin-bottom: 20px;

    }
    
}