:root {
    --primary:#FC4949;
    --secondary: #98CE00;
}
* {
    box-sizing: border-box;
}
/* font-family: 'Cabin', sans-serif;
font-family: 'Playfair Display', serif; */

/* --Header-- */
.chamber-logo {
    width: fit-content;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
}
.navbar-links{
    display: none;
    align-items: center;
}
.toggle {
    display:flex;
    flex-direction: column;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
.navbar-links a{
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: .5rem;
    display: block;
}
a.active {
    padding-bottom: 2px;
    border-bottom: 3px solid var(--primary);

}
.navbar-links li{
    list-style: none;
    align-items: center;
}
.navbar-links a:hover {
    color: var(--primary);
}
.toggle-button{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
/* Body */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--primary), transparent); 
}
body {
    font-family: 'Cabin', sans-serif;
    text-align: center;
}
main {
    margin: 15px auto;
    width: 90%;
}
/* Contact Form */
.contact-content {
    display: block;
    margin-bottom: 50px;
}
.contact-form {
    font-family: 'Playfair Display', serif;
}
[type="text"] {
    font-family: 'Cabin', sans-serif;
}
.top input {
    width: 100%;
    padding: 12px 20px;
}
.top {
    display: block;
    padding-top: 1rem;
    font-weight: bold;
    text-align: left;
}

#fname, #lname, #phone, #email, #comments, .sbutton, .contact-fieldset {
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
}
.contact-info {
    margin-left: 30px;
    padding-right: 10px;
}
.contact-fieldset {
    width: 95%;

}
.sbutton {
    display: block;
    margin-top: 1rem;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    width: 50%;
    margin: 10px auto;
}
/* Board Card List */
.board-list p{
    margin: 3px;
}
.board-list {
    display: block;
    
    max-width: min-content;
    margin: 10px auto;
}
.board-card {
    background-color: var(--primary);
    margin-bottom: 30px;
    border-radius: 5%;
}
.board-card img {
    border-radius: 5% 5% 0% 0%;
}
.board-card h3 {
    margin-bottom: 0px;
}
.board-card p{
    margin-bottom: 5px;
}
/* Directory*/
.directory {
    display: block;
}
.directory img {
    max-width: 150px;
}
/*footer*/
footer {
    margin: 5px;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: var(--primary);
}
/* Join list */
.member-benefits-list {
    text-align: left;
    
}

/* Benefits list */
.benefits-table {
    border-collapse: collapse;
}
.benefits-table td, th {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
.benefits-table th {
    background-color: lightgreen;
}
.benefits-table tr:nth-child(even){
    background-color: lightsteelblue;
}
/*glendale hero */
.hero {
    position: relative; 
}
.glendale-hero-pic {
    width: 100%;
}
.glendale-hero-pic img{
    width: 100%;
}
.home-overlay {
    position: absolute;
    background-color: var(--secondary);
    bottom: 20px;
    right: 150px;
    text-align: right;
    padding: 5px;
    font-size: 2.5rem;
}
.fun-fact {
    background-color: var(--primary);
    padding: 15px;
    width: 50%;
}
/* Glendale Events */

.glendale-events {
    display: block;
    background-color: var(--secondary);
    align-items: center;
    margin-bottom: 30px;
}
.event-pic{
    margin: 20px auto;
}
.event-pic img{
    width: 100%;

}
.events-content {
    margin: 30px;
    padding-bottom: 10px;
    
}
.events-content h2{
    color: white;
    font-size: 2.5rem;
}
/* history */
.history-pic {
    width: 350px;
}
.history-content {
    text-align: left;
}
.history-content h3{
    text-align: center;
}
/* Home Page */
.event-overlay { 
   color: white;
   background-color: rgba(0,0,0,0.8);
   width: fit-content;
}
.events-title-box {
    display: flex;
   font-size: 1.2rem;
}
.events {
    display: flex;
    align-content: center;
}
.events a {
    text-decoration: none;
    color: var(--secondary);
}
.date {
    text-align: left;
}
.date, .dates-title {
    width: 80px;
}
.date, .event, .events-title-box h3{
    margin: 9px 15px;
}
/*glendale join overlay */
.overlay{
    position: absolute;

}
.join {
    bottom: 310px;
    right: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 15px;
}
.welcome {
    top: 10px;
    right: 10px;
    left: 10px;
}
.join-button {
    font-size: 1.1rem;
    color: black;
    background-color: var(--secondary);
    padding: 12px;
    border: none;
    font-weight: bold;
}
.join-button:hover {
    background-color: #7ba704ec;
}
/*Purpose section*/
.mission-pic {
    width: 400px;
}
/*Ads */
.ad-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ad {
    margin: 20px;
}
.off {
    display: none;
}

