@media only screen and (min-width: 32.5em){
/* --Header-- */
.nav-bar {
    display: block;
}
    .navbar-links {
       display: flex;
       width: 100%;
    }
    .navbar-links ul {
        margin: auto;
        padding: 0;
        flex-direction: row;
        justify-content: space-around;
    }
    .toggle-button {
        display: none;
    }
/*contact form */
    .contact-content {
        display: block;
    }
    .contact-fieldset {
        width: 100%;
        margin-bottom: 40px;
    }
    #fname, #lname, #phone, #email, #comments, .sbutton {
        
        padding: 6px 10px;
    }
    .contact-form {
        width: 100%;
    }
    .contactus-box {
        width: 100%;
    }
/*contact info*/
    .contact-box {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        align-items: center;
    }
/*board grid */
    .board-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        gap: 4rem;
        }

/* Directory*/
    .directory {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 40px;
        align-items: center;
    }
    .directory div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid black;
        border-radius: 2%;
        /* margin: auto;
        width: 100%;*/
        height: 450px;
        align-items: center;
    }
    .info {
        
        width: 80%;
        border-top: 1px solid black;
    }
    .info a {
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
    }
    .info a:hover {
        color: var(--primary);
    }
    /* Join list */
    .join-benefits-list {
        text-align: left;
        text-decoration: none;
    }
    /*glendale home hero picture */
    .hero {
        max-width: 100%;
    
    }
    .glendale-hero-pic img{
        width: 100%;
    }
    /* Glendale Events */
    .glendale-events {
       display: flex;
       justify-content: space-between;
    }
    .events-content {
        width: 450px;
        margin: auto;
    }
    .glendale-events p {
        padding: 0px 40px;
    }
    .event-pic {
        width: 450px;
        margin: auto 0px auto 30px;
    }
    .event-pic img {
        width: 100%;
    }
    /* history */
    .history {
    margin: 10px 10px;
    padding: 15px;
    }
    .history-content {
        margin: 20px auto;
        text-align: left;
    }
    .history-content h3{
        text-align: center;
    }
    .history-pic {
        float: right;
        padding: 20px;
        margin: auto;
    }
    /*Home Page*/
    .welcome {
        top: -15px;
    }
    .join {
        bottom: 270px;
        font-size: .7rem;
        right: 50px;
        left: 50px;
        
    }
    .join-button {
        font-size: 1.1rem;
    }
    /*Mission section*/
    .mission-box {
        margin: 30px 8% 70px;
    }
    .mission-pic {
        float: right;
        width: 400px;
    }
    .mission {
        width: 700px;
    }
}